<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="favicon.png" type="image/gif" sizes="4x4">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Blue Ocean - Materialize</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style-home.css" class="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>

<nav>
    <div class="nav-wrapper blue darken-4">
        <a href="#!" class="brand-logo center">ThisforThat</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Search People</a></li>
            <li><a href="#">Transactions</a></li>
        </ul>
    </div>
</nav>

<body>
    <div class="container">
        <div class="timeline">
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tile<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tile<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tile<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>

            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tile<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script>
    M.AutoInit();
  </script>
  <!--SCRIPTS-------------------------------------------------------------------------------->
</body>

</html>