/* OLD BELOW */
/* .navbar-brand {
  width: 33%;
  display: inline-block;
  text-align: center;
  padding: 26px 0;
  font-family: 'Lobster', cursive;
  font-size: 2em;
} */
/* END OLD */


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
  color: #0D47A1 !important;
}

nav .brand-logo {
  position: absolute;
  font-family: 'Lobster';
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}





